<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/reset.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/css.css">
    </head>
    <body>
        <script>
            var p = document.getElementsByClassName('test');
            console.log(p);
            console.log(document.readyState);
            document.addEventListener("DOMContentLoaded", function() {
                console.log(document.readyState);
            });
        //     window.onload = function(){
        //         console.log("test");
        //         alert("test");
        //     };
        //     window.addEventListener('load', function(){
        //         var p = document.getElementsByClassName('test');
        //         console.log(p);
        //         console.log(p.id)
        //     })
        // </script>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="{{site.baseurl}}/images/icons/icon.png" alt="" class="image-btn-menu"></label>

            <nav class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Contacto / Redes Sociales</a></li>
                    <li><a href="#">Acerca de</a></li>
                </ul>
            </nav>
        </header>
        {{ content }}
    </body>
</html>