<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/reset.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/css.css">
    </head>
    <body>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="{{site.baseurl}}/images/icons/icon.png" alt="" class="image-btn-menu"></label>
        </header>
        {{ content }}
    </body>
</html>